[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "5.0.6"
psycopg2-binary = "2.9.9"
pymongo = "*"
djongo = "*"
mongoengine = "*"

[dev-packages]

[requires]
python_version = "3.12"
